body {
    text-decoration: none;
    color: lightgray;
    margin: 0;
}

main {
    background-color: black;
}

/* header {
    position: fixed;
    width: 100%;
    background-color: grey;
} */

a {
    text-decoration: none;
    color: grey
}

h4 {
    margin: 0.25rem;
}

textarea {
    padding: 1rem;
    border-radius: 1rem;
    width: 100%;
}

.header {
    height: 2rem;
}

.navigation {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0
}

.navigation__link--selected {
    text-decoration: underline;
    color: black;
}

.top {
    background-image: url(./resources/trees_50.jpg);
    background-size: cover;
    background-position: center;
    height: 40rem;
    text-align: center;
    align-content: center;
    border-bottom: 1px solid grey;
}

.top__holder {
    background-color: rgba(0, 0, 0, 0.7);
}

.middle {
    text-align: center;
}

.middle__title {
    margin: 1rem;
}

.middle__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 0;
    border-bottom: 1px solid grey;
}

.middle__subsection {
    border: .5rem solid grey;
    width: 25%;
    min-width: 12rem;
    text-align: center;
    margin: .5rem;
    border-radius: 1rem;
}

.middle__img {
    height: 12rem;
    width: 80%;
    margin: auto;
    align-content: center;
}

.middle__img img {
    height: auto;
    width: 80%;
}

.middle__icons {
    display: flex;
    justify-content: space-around;
}

.middle__icon {
    width: 2.5rem;
    height: 2.5rem;
    border: 1px solid gainsboro;
    margin: .5rem;
}

.bottom {
    text-align: center;
}

.bottom__title {
    margin: 1rem;
}

.bottom__icons {
    display: flex;
    justify-content: space-around;
    padding: 2rem 0;
}

.bottom__icon {
    width: 2.5rem;
    height: 2.5rem;
    border: 1px solid gainsboro;
    overflow: hidden;
    margin: .5rem;
}

.bottom__icon--selected {
    width: 3.5rem;
    height: 3.5rem;
}

footer {
    height: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    color: gray;
}


/* contact css area*/
.middle__form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-items: left;
    align-items: center;
    gap: 1rem 1.25rem;
}

#label1 {
    grid-area: 1 / 3;
}

#name {
    grid-area: 1 / 4 / 1 / span 2;
}

#label2 {
    grid-area: 3 / 3;
}
#number {
    grid-area: 3 / 4 / 3 / span 2;
}

#label3 {
    grid-area: 5 / 3;
}
#comment {
    grid-area: 5 / 4 / 5 / span 2;
}

.middle__submit {
    grid-area: 7 / 3 / 7 / 5;
    width: 100%;
    color: gray;
    background-color: white;
    border-radius: 1rem;
    border: 2px solid grey;
}