body {
    text-decoration: none;
    color: lightgray;
    margin: 0;
}

main {
    background-color: black;
}

/* header {
    position: fixed;
    background-color: white;
    width: 100%;
} */

a {
    text-decoration: none;
    color: black
}

h4 {
    margin: 0.25rem;
}

.header {
    background-color: white;
    height: 2rem;
}

.navigation {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0
}

.top {
    background-image: url(./resources/trees_50.jpg);
    background-size: cover;
    background-position: center;
    height: 40rem;
    text-align: center;
    align-content: center;
}

.top__holder {
    background-color: rgba(0, 0, 0, 0.7);
}

section {
    background-color: black;
}

.middle {
    text-align: center;
}

.middle__title {
    margin: 5rem;
}

.middle__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 1rem;
}

.middle__subsection {
    border: 2px solid grey;
    width: 25%;
    min-width: 12rem;
    text-align: center;
    margin: .5rem;
}

.middle__img {
    height: 12rem;
    width: 80%;
    margin: auto;
    align-content: center;
}

.middle__img img {
    height: auto;
    width: 80%;
}

.middle__icons {
    display: flex;
    justify-content: space-around;
}

.middle__icon {
    width: 2.5rem;
    height: 2.5rem;
    border: 1px solid gainsboro;
    margin: .5rem;
}

.bottom {
    text-align: center;
}

.bottom__header {
    margin: 5rem;
}

.bottom__icons {
    display: flex;
    justify-content: space-around;
}

.bottom__icon {
    width: 2.5rem;
    height: 2.5rem;
    border: 1px solid gainsboro;
    overflow: hidden;
    margin: .5rem;
}

footer {
    height: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    color: black;
}